* {
    user-select: none;
    width: 100%;
}

.wrapper {
    display: block;
    gap: 10px;
    grid-auto-rows: 100px;
}

div.content {
    background-color: red;
    border-radius: 20px;
}

div.content p {
    padding: 0px 10px 0px 10px;
}