* {
    user-select: none;
    text-decoration: none;
    font-family: "SourceHanSerif-Bold", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom, #5ECDE1, #2CAEE2);
    background-size: 100vw 100vh;
    margin: 0;
}

div.contentPanel {
    margin: 20px;
}

div.title {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 0px 10px 0px;
    padding: 10px;
    text-align: justify;
    font-size: x-large;
}


div.contentTable {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.contentTable p {
    height: 150px;
    padding: 15px;
}

a.content {
    margin: 5px 30px;
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

img.contentImage {
    height: 250px;
    margin: 5px auto;
    transition-property: transform, box-shadow, background-size, opacity, top, left;
    transition-timing-function: ease-out;
    transition-duration: .2s;
}

img.contentImage:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 8px #000;
}

p {
    text-align: justify;
}

img.imageText {
    width: 200px;
    object-fit: cover;
    float: left;
    margin: 0px 10px 10px 10px;
}

@font-face {
    font-family: "SourceHanSerif-Bold";
    src: url(./SourceHanSerif-Bold.ttc)
}