body {
    background-color: bisque;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
}

img {
    border-radius: 10px;
}

p.text {
    text-indent: 50px;
}

div.gate {
    width: 25%;
    margin: 5px;
    background-color:bisque;
    border-radius: 15px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: burlywood;
    border-width: 5px;
    border-style: ridge;
}

div.gate img {
    width: 100%;
}

div.gate p {
    margin-bottom: 0px;
}

div.image_with_text {
    width: 20%;
    margin: 5px;
    float: inline-end;
    background-color:bisque;
    border-radius: 15px;
    padding: 15px;
    border-color: burlywood;
    border-width: 5px;
    border-style: ridge;
}

div.image_with_text p {
    text-align: center;
}

div.image_with_text img {
    width: 100%;
}

div.main_text {
    width: 80%;
    margin: 5px auto;
    text-align: left;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 25px;
    border-color:burlywood;
    border-width: 10px;
    border-style: ridge;
    overflow: auto;
}

div.main_text img {
    float: left;
    margin-right: 20px;
}

p.sub_text {
    font-size: large;
}